*{
    padding: 0;
    margin: 0;
}

.clear{
    clear: both;
}

div{
    box-sizing: border-box;
}

.section{
    padding: 80px 0;
}

.section .body_element{
    width: 1140px;
    margin: 0 auto;
}

.section.menu{
    padding: 15px 0;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #eeede8;
}

.list_menu li{
    display: inline-block;
    margin: 10px;
}

.list_menu li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #666664;
}

.section.main{
    padding: 120px 0;
    background: no-repeat center/100% url("images/background_main.jpg");
    color: #fff;
    text-align: center;
}

.text_main{
    width: 70%;
    margin: 0 auto;
    font-family: "Cormorant Garamond";
    font-size: 15px;
    font-weight: 600;
}

.text_main p:first-child{
    text-transform: uppercase;
    font-size: 72px;
}
.handwriting{
    font-family: "Great Vibes";
}

.text_main p:first-child+p{
    padding: 20px 0;
    width: 55%;
    margin: 0 auto;
}

.text_main a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    padding: 15px 50px;
    font-family: "Cormorant Garamond";
    font-size: 15px;
    font-weight: 700;
}

.section.delivery{
    background-color: #fff;
}

.delivery_header, .event_header, .product_header, .photo_header{
    padding-bottom: 30px;
    text-transform: uppercase;
    font-family: "Cormorant Garamond";
    font-size: 32px;
    font-weight: 700;
}

.delivery_list ul{
    padding: 0 90px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.delivery_list ul li{
    text-align: center;
    width: 25%;
    font-family: "Monserrat";
    font-size: 16px;
    font-weight: 500;
}

.section.about{
    background-color: #eeede8;
}

.image_left{
    padding: 0;
    margin: 0;
    float: left;
    width: 40%;
}

.image_left div{
    background: no-repeat center/100% url("images/about.jpg");
    height: 500px;
}

.text_right{
    padding: 50px 0 0 150px;
    float: left;
    width: 50%;
    font-family: "Cormorant Garamond";
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 50px;
}

.text_right h2{
    font-size: 80px;
    font-weight: 300;
}

.text_right p:last-child{
    font-family: "Great Vibes";
    font-size: 18px;
    font-weight: 400;
}

.products, .gallary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.product_element{
    width: 35%;
}

.product_element .img img{
    width: 100%;
}

.section.more{
    text-align: center;
    color: white;
    background: no-repeat center/100% url('images/more.jpg');
}

.section.more .body_element h2{
    text-transform: uppercase;
    font-family: "Cormorant Garamond";
    font-size: 65px;
    font-weight: 600;
}

.section.more .body_element p{
    padding: 35px 230px;
    font-family: "Cormorant Garamond";
    font-size: 24px;
    font-weight: 600;
}

.section.event{
    background-color: #eeede8;
}

.event_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.event_img{
    width: 25%;
}

.event_img img{
    width: 100%;
}

.event_text{
    width: 45%;
    font-family: "Cormorant Garamond";
    font-size: 18px;
    font-weight: 400;
}

.event_text h3{
    padding: 15px 0 30px;
    width: 70%;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.event_text .price{
    padding: 20px 0 30px;
}

.event_text button{
    border: none;
    color: white;
    background-color: black;
    padding: 15px 55px;
    text-transform: uppercase;
    font-family: "Cormorant Garamond";
    font-size: 12px;
    font-weight: 500;
}

.event_photo{
    padding: auto;
}

.section.video{
    text-align: center;
}

.section.photo{
    background-color: #eeede8;
}

.photo_element{
    width: 40%;
}

.photo_element img{
    width: 100%;
}

.map, .form_border{
    float: left;
    width: 50%;
    padding: 0px 10px;
}

.form_border{
    padding: 20px;
    border: 3px solid #e6c4d4;
    border-radius: 12px;
    background: no-repeat center/100% url("images/form.jpg");
}

.form{
    backdrop-filter: blur(1px);
    border: 3px solid #e6c4d4;
    border-radius: 10px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: "Cormorant Garamond";
    font-size: 18px;
    font-weight: 600;
}

.form h3{
    padding: 20px 0;
    font-size: 32px;
    font-weight: 800;
}

.form p{
    padding: 0 70px 20px;
}

.form form input{
    margin: 10px 0;
    padding: 7px;
    border: none;
    border-radius: 20px;
}

.form form button{
    border: none;
    border-radius: 20px;
    padding: 10px 14px;
    margin: 10px 0;
    background-color: #e6c4d4;
    font-family: "Cormorant Garamond";
    font-size: 20px;
    font-weight: 600;
}

.section.footer{
    background-color: #eeede8;
    text-align: center;
    font-family: "Cormorant Garamond";
    font-size: 20px;
    font-weight: 700;
}